* {
	margin: 0;
	padding: 0;
}

.dataFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	text-align: center;
	font-size: 1vw;
}

.data {
	font-size: 3vw;
	text-align: center;
}

.channels {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 1vw;
	padding: 1vw;
}

.channel {
	text-decoration: none;
	color: white;
}

.error {
	font-size: 2.5vw;
	text-align: center;
}

table {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 0.15vw solid rgba(44, 47, 51);
	margin: 2vw;
	border-collapse: collapse;
}

th {
	border: 0.15vw solid black;
	border-color:	#2c2f33;
	padding: 0.4vw;
	background-color: #7289da;
}

th:hover {
	background-color: rgba(21, 49, 148, 0.7);
}